# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test files
*.test
*.tmp

# Output files
*.out

# Dependency directories
/vendor/

# IDE related
.idea/
.vscode/
*.swp
*.swo

# Environment variable files
.env

# Log files
*.log

# macOS system files
.DS_Store